*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header/ banner style start */
.header{
    
    width: 100%;
    height: 808px;
    background-image: url(/images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title-info{
    text-align: right;
    font-weight: 700;
    font-size: 58px;
    margin-left: 100px;
}
.title-description{
    margin-top: 24px;
    margin-bottom: 32px;
    width: 400px;
    color: #444343;
    padding-left: 200px;
}
.text-details{
    padding-top: 216px;
    text-align: right;
    width: 40%;
    margin-left: 700px;
    
}
.btn{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 550;
    font-size: 20px;
}

/* header/ banner style end */


/* main part style start */
.main-details{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.main-image{
    width: 560px;
    height: 700px;
    margin-top: 131px;
    margin-right: 100px;
}
.main-text{
    width: 416px;
    height: 400px;
    margin-top: 360px;

}
.main-text-title{
    font-weight: 700;
    font-size: 40px;
}
.main-description{
    width: 416px;
    height: 104px;
    font-weight: 200;
    color: #444343;
    margin-top: 25px;
}
.main-list{
    margin-top: 5px;
    list-style-type: none;
    line-height: 15px;
}

.main-list li{
    display: flex;
    color: #151414;
}
/* My plan style */
.my-plan{
    text-align: center;
    margin-top: 130px;
    padding-top: 70px;
}
.plan-title{
    margin-bottom: 60px;

}

.plan-img{
    height: 90px;
    width: 90px;
    margin-bottom: 20px;
}
.plan-main-image{
    display: flex;
    width: 1141px;
    height: 300px;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 230px;
}
.info-title{
    text-align:center;
    font-size: 25px;


}
.info-details{
    color: #737272;
    font-size: 20px;
}
/* main part style end */

/* ONE EXTRA MEANINGFUL SECTION. SECTION NAME: CARD, styles starts */

.card{
    background-color: rgba(138, 176, 100, 0.93);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-title{
    text-align:center;
    padding: 15px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(25, 53, 12);
}
.card > div{
    background-color: rgb(187, 215, 156);
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 15px;
}
.box-shadow{
    box-shadow: 1px 2px 3px rgb(84, 74, 74);
}
.box-shadow:hover{
    box-shadow: 2px 3px 5px rgb(255, 255, 255);
}
.img-style{
    box-sizing: border-box;
    width: 100%;
}
.h1-text{
    text-shadow: 1px 2px 3px rgb(69, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
.para-text{
    text-align: left;
    color: #383636;
    line-height: 23px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Section card styling end */

/* gradient-image blend */
.grad-image{
    width: 999px;
    height: 250px;
    margin: 130px 230px 130px 293px;
    background-image: url(/images/gradient2.png), url(/images/watch.png);
    border-radius: 10px;
    align-items: center;
}
.grade-text{
    padding: 15px 0px 0px 20px;
    text-align: left;
    font-weight: 700;
    font-size: 35px;
    color: white;
    width: 999px;
    height: 90px;

}

.button{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 0px 0px 0px 20px;
    font-weight: 550;
    font-size: 20px;
    background-color: white;
    color: #F15B22;
}


/* footer style start */

.footer{
    width: 100%;
    height: 577px;
    background-color: #151414;
    display: flex;
}

.footer-image{
    width: 47px;
    height: 46px;
    margin-right: 17px;
    display: flex;
}
.footer-image-all{
    width: 45px;
    height: 45px;
    margin-left: 200px;
    margin-top: 190px;
    display: flex;
}

.future{
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: white;
    margin-left: 200px;
}

.footer-sec-one{
    margin-top: 130px;
    margin-right: 600px;
}
.footer-sec-two{
    margin-top: 130px;
    margin-right: 600px;
}

.footer-title{
    width: 148px;
    height: 53px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;

}
.footer-description{
    width: 485px;
    height: 78px;
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    margin-bottom: 25px;

}
.footer-description-one{
    width: 190px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}
.footer-description-two{
    width: 186px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;

}

.title-sub{
    color: aliceblue;
    margin-bottom: 30px;

}

.input{
    width: 325px;
    height: 64px;
    border:1px solid rgb(255, 255, 255) ;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: #151414;
    font-size: 17px;
    padding-left: 15px;

}
.button-sub{
    width: 170px;
    height: 65px;
    color: #F15B22;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}


/* footer style end */