*{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

/* header/ banner style start */
.header{
    
    width: 100%;
    height: 808px;
    background-image: url(/images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title-info{
    text-align: right;
    font-weight: 700;
    font-size: 58px;
}
.title-description{
    margin-top: 24px;
    margin-bottom: 32px;
    width: 400px;
    color: #444343;
    padding-left: 200px;
}
.text-details{
    padding-top: 216px;
    text-align: right;
    width: 40%;
    padding-left: 500px;
    
}
.btn{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 550;
    font-size: 20px;
}

/* header/ banner style end */


/* main part style start */
.main-details{
    display: flex;
    width: 70%;
}
img{
    width: 560px;
    height: 700px;
    margin-top: 131px;
}
.main-text{
    width: 416px;
    height: 400px;
    margin-top: 370px;

}
.main-text-title{
    font-weight: 700;
    font-size: 40px;
}
.main-description{
    width: 416px;
    height: 104px;
    font-weight: 200;
    color: #444343;
    margin-top: 25px;
}
.main-list{
    width: 870px;
    height: 162px;
    margin-top: 10px;
    list-style-type: none;
    line-height: 20px;
    display: inline;
}

/* My plan style */
.my-plan{
    text-align: center;
    margin-top: 130px;
    padding-top: 70px;
    /* margin-bottom: 90px; */
}
hr{
    margin-top: 100px;
}
.plan-img{
    height: 90px;
    width: 90px;
}
.plan-main-image{
    display: flex;
    width: 1141px;
    height: 300px;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 24px;
}
.info-title{
    text-align:center;
    font-size: 30px;


}
.info-details{
    color: #737272;
    font-size: 20px;
}


/* main part style end */


/* footer style start */




/* footer style end */